:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    text-size-adjust: auto;
    overflow-wrap: break-word;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper {
    width: 100%;
    margin: 0em auto;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    height: 100%;
    max-width: 50em;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.grid-box-1 {
    grid-column: span 2;
}

.grid-box-2 {
    grid-column: span 1;
    flex-direction: column;
}

.grid-box-3 {
    grid-column: span 1;
    flex-direction: column;
}

.grid-box-4 {
    grid-column: span 2;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}